.vs/
packages/
WS_IT/obj/*
WS_PP/obj/*
WS_MM/obj/*
WS_SD/obj/*
WS_HCM/obj/*
Shared/obj/*
SharedEmail/obj/*
WS_MM/bin/*
WS_SD/bin/*
WS_PP/bin/*
WS_IT/bin/*
WS_HCM/bin/*
Shared/bin/*
SharedEmail/bin/*
*.pubxml
*.vssscc
*.scc
*.erwin
*.vspscc
*.pubxml.user
*.suo
*storage.ide-wal